ios/App/Pods/
ios/DerivedData/
ios/capacitor-cordova-ios-plugins/
out/
public/
pnpm-lock.yaml

# Generated Config files
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
ios/App/App/capacitor.config.json
ios/App/App/config.xml
