ios/App/Pods/
ios/DerivedData/
ios/capacitor-cordova-ios-plugins/
out/
public/
pnpm-lock.yaml

# Generated Config files
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml
App/App/capacitor.config.json
App/App/config.xml
