name: Android CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Setup Node.js environment, install dependencies, and build the app
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'npm'
      - run: npm install -g @ionic/cli
      - run: npm install
      - run: ionic capacitor build android --no-open --prod

      - name: Build the Android debug APK
        working-directory: ./android
        run: ./gradlew assembleDebug

      - name: Upload debug APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: |
            ${{ github.workspace }}/android/app/build/outputs/apk/debug/*.apk
